Repository wolfram-laube/backoffice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_invoice, upload_invoice, billing_email, ci-metrics:test, ci-metrics:collect:nsai, gdrive:sync-credentials, gdrive:sync-notebooks, test:nsai:unit, test:nsai:coverage, test:nsai:notebooks, mkdocs_nav_check, docs_preview

build_invoice:
  stage: build
  image: alpine:latest
  tags:
  - any-runner
  needs: []
  before_script:
  - apk add --no-cache curl tar xz fontconfig ttf-liberation
  - mkdir -p /usr/share/fonts/poppins
  ...

upload_invoice:
  stage: deploy
  image: python:3.11-slim
  tags:
  - any-runner
  needs:
  - job: build_invoice
    artifacts: true
    optional: true
  script:
  - pip install google-auth google-api-python-client -q
  - python modules/billing/scripts/upload_to_drive.py modules/billing/output/*.pdf

billing_email:
  stage: deploy
  image: python:3.11-slim
  tags:
  - any-runner
  needs:
  - job: build_invoice
    artifacts: true
  - job: upload_invoice
    optional: true
  variables:
    BILLING_CLIENT: nemensis
    BILLING_PERIOD: ''
  before_script:
  - pip install requests pyyaml -q
  script:
  ...

ci-metrics:test:
  stage: test
  image: python:3.11-slim
  tags:
  - docker-any
  script:
  - cd services/ci_metrics
  - pip install --quiet -r requirements.txt pytest pytest-asyncio httpx
  - python -m pytest tests/ -v --tb=short --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: services/ci_metrics/report.xml
  ...

ci-metrics:collect:nsai:
  stage: notify
  image: python:3.11-slim
  tags:
  - docker-any
  needs:
  - job: test:nsai:unit
    artifacts: true
    optional: true
  - job: test:nsai:notebooks
    artifacts: true
    optional: true
  allow_failure: true
  script:
  - pip install --quiet google-cloud-bigquery google-auth
  ...

gdrive:sync-credentials:
  image: python:3.11-slim
  tags:
  - gitlab-org-docker
  before_script:
  - pip install google-auth google-api-python-client --quiet
  stage: deploy
  needs: []
  script:
  - python3 scripts/sync_credentials_gdrive.py

gdrive:sync-notebooks:
  image: python:3.11-slim
  tags:
  - gitlab-org-docker
  before_script:
  - pip install google-auth google-api-python-client --quiet
  stage: deploy
  script:
  ...

test:nsai:unit:
  image: python:3.11-slim
  tags:
  - docker-any
  needs: []
  variables:
    PYTHONPATH: ${CI_PROJECT_DIR}/services/nsai:${CI_PROJECT_DIR}
  before_script:
  - pip install pytest pytest-cov pyyaml --quiet
  - pip install -e services/nsai/ --quiet || pip install pyyaml --quiet
  stage: test
  script:
  ...

test:nsai:coverage:
  image: python:3.11-slim
  tags:
  - docker-any
  needs: []
  variables:
    PYTHONPATH: ${CI_PROJECT_DIR}/services/nsai:${CI_PROJECT_DIR}
  before_script:
  - pip install pytest pytest-cov pyyaml --quiet
  - pip install -e services/nsai/ --quiet || pip install pyyaml --quiet
  stage: test
  script:
  ...

test:nsai:notebooks:
  image: python:3.11-slim
  tags:
  - docker-any
  needs: []
  variables:
    PYTHONPATH: ${CI_PROJECT_DIR}/services/nsai:${CI_PROJECT_DIR}
  before_script:
  - pip install pytest pytest-cov pyyaml --quiet
  - pip install -e services/nsai/ --quiet || pip install pyyaml --quiet
  stage: test
  script:
  ...

docs(adr): link INF-002 to HTML edition [skip ci]
  docs/adr/README.md
Due: mkdocs_nav_check, docs_preview

docs(adr): INF-002 MD → redirect to HTML [skip ci]
  docs/adr/infrastructure/INF-002-runner-intelligence.md
Due: mkdocs_nav_check, docs_preview

docs(publications): add NSAI Quarto publication project
  docs/publications/nsai-runner-selection-2026/.gitignore
  docs/publications/nsai-runner-selection-2026/_output/.gitkeep
  docs/publications/nsai-runner-selection-2026/_quarto.yml
  docs/publications/nsai-runner-selection-2026/experiment.qmd
  docs/publications/nsai-runner-selection-2026/figures/fig1_architecture.pdf
  docs/publications/nsai-runner-selection-2026/figures/fig6_dialectic.pdf
  docs/publications/nsai-runner-selection-2026/nsai_paper.qmd
  docs/publications/nsai-runner-selection-2026/references.bib
Due: mkdocs_nav_check, docs_preview

ci(publications): add Quarto build pipeline
  .gitlab-ci.yml
  .gitlab/publications.yml
Due: none

docs(handover): NSAI paper finalization + Quarto pipeline
  docs/handover/HANDOVER_QUARTO_PIPELINE_07_02_2026.md
Due: mkdocs_nav_check, docs_preview

docs(handover): next session prompt 08.02.2026
  docs/handover/NEXT_SESSION_08_02_2026.md
Due: mkdocs_nav_check, docs_preview

chore(ci-metrics): update dashboard [skip ci]
  docs/ci-dashboard.html
Due: mkdocs_nav_check, docs_preview

fix(ci): resolve pipeline failures #41 #42 #43
  .gitlab/tests.yml
  scripts/ci/crm_integrity_check.py
  services/nsai/pyproject.toml
Due: ci-metrics:collect:nsai, test:nsai:unit, test:nsai:coverage

feat(mab): Cloud Run deployment pipeline for MAB service
  .gitlab/cloud-run.yml
  docs/services/nsai.md
Due: mkdocs_nav_check, docs_preview

docs(handover): housekeeping session 08.02.2026
  docs/handover/HANDOVER_HOUSEKEEPING_08_02_2026.md
Due: mkdocs_nav_check, docs_preview

docs(handover): next session prompt 09.02.2026 [skip ci]
  docs/handover/NEXT_SESSION_09_02_2026.md
Due: mkdocs_nav_check, docs_preview

feat(services): add match-staging service scaffolding
  services/match-staging/Dockerfile
  services/match-staging/README.md
  services/match-staging/config/notification-channels.yml
  services/match-staging/pyproject.toml
  services/match-staging/src/__init__.py
  services/match-staging/src/adapters/__init__.py
  services/match-staging/src/adapters/email_adapter.py
  services/match-staging/src/adapters/gitlab_adapter.py
  services/match-staging/src/adapters/slack_adapter.py
  services/match-staging/src/adapters/whatsapp_adapter.py
  services/match-staging/src/config.py
  services/match-staging/src/dispatcher.py
  services/match-staging/src/main.py
  services/match-staging/src/models.py
  services/match-staging/src/templates/match_summary.html
  services/match-staging/tests/test_staging.py
Due: none

feat(db): add SQLAlchemy models + CSV migration for bewerbungen pipeline
  services/match-staging/.gitignore
  services/match-staging/data/.gitkeep
  services/match-staging/src/db/__init__.py
  services/match-staging/src/db/connection.py
  services/match-staging/src/db/migrate_csv.py
  services/match-staging/src/db/models.py
Due: none

chore: bump to v0.2.0, add DB deps (sqlalchemy, aiosqlite, asyncpg optional)
  services/match-staging/pyproject.toml
Due: none

test(db): add e2e tests — 43 tests covering full DB lifecycle
  services/match-staging/tests/conftest.py
  services/match-staging/tests/test_db_e2e.py
Due: none

feat(sync): add DB persistence layer + 29 e2e tests
  services/match-staging/src/db/sync.py
  services/match-staging/tests/test_sync_e2e.py
Due: none

docs(handover): Vorhölle v0.2 handover + next session prompt
  docs/handover/HANDOVER_VORHOELLE_V02_07_02_2026.md
  docs/handover/INDEX.md
  docs/handover/NEXT_SESSION_09_02_2026.md
Due: mkdocs_nav_check, docs_preview

feat(pipeline): add Vorhölle staging job to applications pipeline
  .gitlab/applications.yml
  scripts/ci/applications_stage.py
Due: none

feat(email): lightweight Gmail OAuth for match notifications (v0.2)
  services/match-staging/config/notification-channels.yml
  services/match-staging/src/adapters/email_adapter.py
  services/match-staging/src/config.py
Due: none

feat(portal): add Runner Fleet Dashboard with MAB override
  docs/portal.html
  docs/runner-fleet.html
Due: mkdocs_nav_check, docs_preview

feat(portal): persist runner fleet token in localStorage
  docs/runner-fleet.html
Due: mkdocs_nav_check, docs_preview

feat(portal): add demo mode with mock data for preview
  docs/runner-fleet.html
Due: mkdocs_nav_check, docs_preview

feat(portal): auto-connect runner fleet with default PAT
  docs/runner-fleet.html
Due: mkdocs_nav_check, docs_preview

fix(portal): auto-fallback to demo when API unreachable
  docs/runner-fleet.html
Due: mkdocs_nav_check, docs_preview

feat(portal): real runner snapshot data, no more mock
  docs/runner-fleet.html
Due: mkdocs_nav_check, docs_preview

feat(portal): add Runner Fleet to MkDocs navigation
  mkdocs.yml
Due: mkdocs_nav_check, docs_preview

fix(portal): move Runner Fleet card to Infrastructure section
  docs/portal.html
Due: mkdocs_nav_check, docs_preview

fix(portal): correct site_url for unique domain
  .gitlab/pages.yml
  mkdocs.yml
Due: mkdocs_nav_check, docs_preview

feat(db): unified ops database with bewerbungen + runner fleet
  services/match-staging/data/bewerbungen.db
  services/match-staging/src/db/models.py
  services/match-staging/src/db/seed_runners.py
Due: none

fix(db): repair UTF-8 mojibake in bewerbungen.db
  services/match-staging/data/bewerbungen.db
Due: none

docs(handover): HANDOVER_APPTRACK_SPRINT1_09_02_2026
  docs/handover/HANDOVER_APPTRACK_SPRINT1_09_02_2026.md
Due: mkdocs_nav_check, docs_preview

docs(handover): next session prompt AppTrack Sprint 1
  docs/handover/NEXT_SESSION_APPTRACK_S1.md
Due: mkdocs_nav_check, docs_preview

feat(apptrack): Sprint 1 Foundation — SQLAlchemy models, CSV import, JSON export
  modules/applications/__init__.py
  modules/applications/database.py
  modules/applications/migrations/__init__.py
  modules/applications/migrations/env.py
  modules/applications/migrations/versions/001_initial.py
  modules/applications/migrations/versions/__init__.py
  modules/applications/models.py
  scripts/ci/applications_export_json.py
  scripts/ci/applications_import_csv.py
  tests/unit/test_applications.py
Due: none

ci(apptrack): Add import, export, and test jobs to applications pipeline
  .gitlab/applications.yml
Due: none

data: Add bewerbungen CSV (187 applications, sorted by date_recorded desc)
  data/bewerbungen_komplett_SORTED_Jan_31_2026.csv
Due: none

fix: Update CSV path to data/ directory
  .gitlab/applications.yml
  scripts/ci/applications_import_csv.py
Due: none

Path conditions:
  build_invoice: any of: modules/billing/templates/**/*, modules/billing/output/**/*.typ
  upload_invoice: any of: modules/billing/output/**/*.typ
  billing_email: any of: modules/billing/output/**/*.typ
  ci-metrics:test: any of: services/ci_metrics/**
  ci-metrics:collect:nsai: any of: services/nsai/**
  gdrive:sync-credentials: any of: config/clarissa_credentials.json
  gdrive:sync-notebooks: any of: **/*.ipynb
  test:nsai:unit: any of: services/nsai/**/*
  test:nsai:coverage: any of: services/nsai/**/*
  test:nsai:notebooks: any of: services/nsai/notebooks/**/*, services/nsai/tests/test_notebooks.py
  mkdocs_nav_check: any of: mkdocs.yml, docs/**/*
  docs_preview: any of: mkdocs.yml, docs/**/*
